// ESLint Rules: https://eslint.org/docs/latest/rules/
{
  "extends": "eslint:recommended",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "env": {
    "node": true,
    "browser": true
  },
  // Furthermore, errors about 'console.log' (error  Unexpected console statement  no-console)
  // By default, this rule 'no-console' is recommended
  "rules": {
    "no-console": 0 // same with "off"
  }
}